--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4 (Ubuntu 17.4-1.pgdg24.04+2)
-- Dumped by pg_dump version 17.4 (Ubuntu 17.4-1.pgdg24.04+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: weduser
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO weduser;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: weduser
--

COMMENT ON SCHEMA public IS '';


--
-- Name: BookingStatus; Type: TYPE; Schema: public; Owner: weduser
--

CREATE TYPE public."BookingStatus" AS ENUM (
    'PENDING',
    'CONFIRMED',
    'CANCELLED',
    'COMPLETED',
    'DISPUTED'
);


ALTER TYPE public."BookingStatus" OWNER TO weduser;

--
-- Name: ConversationStatus; Type: TYPE; Schema: public; Owner: weduser
--

CREATE TYPE public."ConversationStatus" AS ENUM (
    'ACTIVE',
    'ARCHIVED',
    'CLOSED'
);


ALTER TYPE public."ConversationStatus" OWNER TO weduser;

--
-- Name: EventType; Type: TYPE; Schema: public; Owner: weduser
--

CREATE TYPE public."EventType" AS ENUM (
    'WEDDING',
    'BIRTHDAY',
    'BAPTISM',
    'ANNIVERSARY',
    'GRADUATION',
    'BABY_SHOWER',
    'ENGAGEMENT',
    'COMMUNION',
    'CONFIRMATION',
    'RETIREMENT',
    'HOUSEWARMING',
    'CORPORATE',
    'OTHER'
);


ALTER TYPE public."EventType" OWNER TO weduser;

--
-- Name: InvitationStatus; Type: TYPE; Schema: public; Owner: weduser
--

CREATE TYPE public."InvitationStatus" AS ENUM (
    'DRAFT',
    'PUBLISHED',
    'ARCHIVED'
);


ALTER TYPE public."InvitationStatus" OWNER TO weduser;

--
-- Name: InvitationType; Type: TYPE; Schema: public; Owner: weduser
--

CREATE TYPE public."InvitationType" AS ENUM (
    'PERSONAL',
    'SHAREABLE'
);


ALTER TYPE public."InvitationType" OWNER TO weduser;

--
-- Name: MessageType; Type: TYPE; Schema: public; Owner: weduser
--

CREATE TYPE public."MessageType" AS ENUM (
    'TEXT',
    'RSVP_NOTIFICATION',
    'SYSTEM'
);


ALTER TYPE public."MessageType" OWNER TO weduser;

--
-- Name: NewsletterAudience; Type: TYPE; Schema: public; Owner: weduser
--

CREATE TYPE public."NewsletterAudience" AS ENUM (
    'ALL_USERS',
    'HOSTS_ONLY',
    'PROVIDERS_ONLY',
    'ADMINS_ONLY',
    'SPECIFIC_USERS'
);


ALTER TYPE public."NewsletterAudience" OWNER TO weduser;

--
-- Name: NewsletterStatus; Type: TYPE; Schema: public; Owner: weduser
--

CREATE TYPE public."NewsletterStatus" AS ENUM (
    'DRAFT',
    'SCHEDULED',
    'SENDING',
    'SENT',
    'CANCELLED'
);


ALTER TYPE public."NewsletterStatus" OWNER TO weduser;

--
-- Name: PhotoStatus; Type: TYPE; Schema: public; Owner: weduser
--

CREATE TYPE public."PhotoStatus" AS ENUM (
    'PENDING',
    'APPROVED',
    'REJECTED',
    'PUBLIC'
);


ALTER TYPE public."PhotoStatus" OWNER TO weduser;

--
-- Name: ProviderStatus; Type: TYPE; Schema: public; Owner: weduser
--

CREATE TYPE public."ProviderStatus" AS ENUM (
    'PENDING',
    'APPROVED',
    'SUSPENDED',
    'REJECTED'
);


ALTER TYPE public."ProviderStatus" OWNER TO weduser;

--
-- Name: PurchaseStatus; Type: TYPE; Schema: public; Owner: weduser
--

CREATE TYPE public."PurchaseStatus" AS ENUM (
    'ACTIVE',
    'COMPLETED',
    'REFUNDED'
);


ALTER TYPE public."PurchaseStatus" OWNER TO weduser;

--
-- Name: RSVPStatus; Type: TYPE; Schema: public; Owner: weduser
--

CREATE TYPE public."RSVPStatus" AS ENUM (
    'PENDING',
    'CONFIRMED',
    'DECLINED'
);


ALTER TYPE public."RSVPStatus" OWNER TO weduser;

--
-- Name: ServiceTier; Type: TYPE; Schema: public; Owner: weduser
--

CREATE TYPE public."ServiceTier" AS ENUM (
    'FREE',
    'ESSENTIAL',
    'ELEGANT',
    'PREMIUM',
    'LUXE'
);


ALTER TYPE public."ServiceTier" OWNER TO weduser;

--
-- Name: ServiceType; Type: TYPE; Schema: public; Owner: weduser
--

CREATE TYPE public."ServiceType" AS ENUM (
    'BEAUTY',
    'VENUE',
    'PHOTOGRAPHY',
    'MUSIC',
    'TRANSPORT',
    'DECORATION',
    'CATERING',
    'OTHER'
);


ALTER TYPE public."ServiceType" OWNER TO weduser;

--
-- Name: ShareableLinkStatus; Type: TYPE; Schema: public; Owner: weduser
--

CREATE TYPE public."ShareableLinkStatus" AS ENUM (
    'SHARED',
    'USED',
    'CONFIRMED'
);


ALTER TYPE public."ShareableLinkStatus" OWNER TO weduser;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: weduser
--

CREATE TYPE public."UserRole" AS ENUM (
    'ADMIN',
    'HOST',
    'GUEST',
    'PROVIDER'
);


ALTER TYPE public."UserRole" OWNER TO weduser;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: weduser
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO weduser;

--
-- Name: bookings; Type: TABLE; Schema: public; Owner: weduser
--

CREATE TABLE public.bookings (
    id text NOT NULL,
    "clientId" text NOT NULL,
    "providerId" text NOT NULL,
    "serviceId" text NOT NULL,
    "eventDate" timestamp(3) without time zone NOT NULL,
    "clientName" text NOT NULL,
    "clientPhone" text NOT NULL,
    "clientEmail" text NOT NULL,
    "guestCount" integer,
    status public."BookingStatus" DEFAULT 'PENDING'::public."BookingStatus" NOT NULL,
    "totalPrice" double precision NOT NULL,
    "stripePaymentIntentId" text,
    "confirmedAt" timestamp(3) without time zone,
    "completedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "eventTime" text,
    "eventType" public."EventType" NOT NULL,
    message text,
    "ourCommission" double precision NOT NULL,
    "paidAt" timestamp(3) without time zone,
    "providerAmount" double precision NOT NULL,
    "stripeTransferId" text
);


ALTER TABLE public.bookings OWNER TO weduser;

--
-- Name: conversations; Type: TABLE; Schema: public; Owner: weduser
--

CREATE TABLE public.conversations (
    id text NOT NULL,
    "userId" text NOT NULL,
    "invitationId" text NOT NULL,
    "adminId" text,
    status public."ConversationStatus" DEFAULT 'ACTIVE'::public."ConversationStatus" NOT NULL,
    "lastMessageAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.conversations OWNER TO weduser;

--
-- Name: designs; Type: TABLE; Schema: public; Owner: weduser
--

CREATE TABLE public.designs (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    category text,
    tags text[],
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    template jsonb NOT NULL,
    styles jsonb NOT NULL,
    variables jsonb,
    version text DEFAULT '1.0.0'::text NOT NULL,
    "customFonts" jsonb,
    "backgroundImage" text,
    "priceType" public."ServiceTier" DEFAULT 'FREE'::public."ServiceTier" NOT NULL
);


ALTER TABLE public.designs OWNER TO weduser;

--
-- Name: email_verifications; Type: TABLE; Schema: public; Owner: weduser
--

CREATE TABLE public.email_verifications (
    id text NOT NULL,
    email text NOT NULL,
    code text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    verified boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.email_verifications OWNER TO weduser;

--
-- Name: guests; Type: TABLE; Schema: public; Owner: weduser
--

CREATE TABLE public.guests (
    id text NOT NULL,
    "firstName" text NOT NULL,
    "lastName" text NOT NULL,
    email text,
    phone text,
    "isVIP" boolean DEFAULT false NOT NULL,
    "dietaryRestrictions" text,
    "plusOne" boolean DEFAULT false NOT NULL,
    "plusOneName" text,
    "inviteToken" text NOT NULL,
    "usedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "userId" text NOT NULL,
    "invitationId" text NOT NULL,
    "invitationSentAt" timestamp(3) without time zone,
    "invitationType" public."InvitationType" DEFAULT 'PERSONAL'::public."InvitationType" NOT NULL,
    "sharedLinkUsed" boolean DEFAULT false NOT NULL,
    "profilePhotoUrl" text
);


ALTER TABLE public.guests OWNER TO weduser;

--
-- Name: invitations; Type: TABLE; Schema: public; Owner: weduser
--

CREATE TABLE public.invitations (
    id text NOT NULL,
    description text,
    status public."InvitationStatus" DEFAULT 'DRAFT'::public."InvitationStatus" NOT NULL,
    photos jsonb[] DEFAULT ARRAY[]::jsonb[],
    languages text[] DEFAULT ARRAY['fr'::text],
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "userId" text NOT NULL,
    "designId" text NOT NULL,
    "moreInfo" text,
    "shareableEnabled" boolean DEFAULT false NOT NULL,
    "shareableMaxUses" integer DEFAULT 50,
    "shareableToken" text,
    "shareableUsedCount" integer DEFAULT 0 NOT NULL,
    "customText" text,
    "eventDate" timestamp(3) without time zone NOT NULL,
    "eventTime" text,
    "eventTitle" text NOT NULL,
    "eventType" public."EventType" DEFAULT 'WEDDING'::public."EventType" NOT NULL,
    location text NOT NULL
);


ALTER TABLE public.invitations OWNER TO weduser;

--
-- Name: messages; Type: TABLE; Schema: public; Owner: weduser
--

CREATE TABLE public.messages (
    id text NOT NULL,
    "conversationId" text NOT NULL,
    "senderId" text NOT NULL,
    content text NOT NULL,
    "messageType" public."MessageType" DEFAULT 'TEXT'::public."MessageType" NOT NULL,
    "isRead" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.messages OWNER TO weduser;

--
-- Name: newsletter_recipients; Type: TABLE; Schema: public; Owner: weduser
--

CREATE TABLE public.newsletter_recipients (
    id text NOT NULL,
    "newsletterId" text NOT NULL,
    "userId" text NOT NULL,
    "sentAt" timestamp(3) without time zone,
    "openedAt" timestamp(3) without time zone,
    "clickedAt" timestamp(3) without time zone,
    status text DEFAULT 'PENDING'::text NOT NULL
);


ALTER TABLE public.newsletter_recipients OWNER TO weduser;

--
-- Name: newsletters; Type: TABLE; Schema: public; Owner: weduser
--

CREATE TABLE public.newsletters (
    id text NOT NULL,
    title text NOT NULL,
    subject text NOT NULL,
    content text NOT NULL,
    "htmlContent" text,
    status public."NewsletterStatus" DEFAULT 'DRAFT'::public."NewsletterStatus" NOT NULL,
    "targetAudience" public."NewsletterAudience" DEFAULT 'ALL_USERS'::public."NewsletterAudience" NOT NULL,
    "specificUserIds" text[] DEFAULT ARRAY[]::text[],
    "scheduledAt" timestamp(3) without time zone,
    "sentAt" timestamp(3) without time zone,
    "sentCount" integer DEFAULT 0 NOT NULL,
    "openCount" integer DEFAULT 0 NOT NULL,
    "clickCount" integer DEFAULT 0 NOT NULL,
    "createdBy" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.newsletters OWNER TO weduser;

--
-- Name: password_resets; Type: TABLE; Schema: public; Owner: weduser
--

CREATE TABLE public.password_resets (
    id text NOT NULL,
    email text NOT NULL,
    token text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    used boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "userId" text NOT NULL
);


ALTER TABLE public.password_resets OWNER TO weduser;

--
-- Name: photo_albums; Type: TABLE; Schema: public; Owner: weduser
--

CREATE TABLE public.photo_albums (
    id text NOT NULL,
    title text NOT NULL,
    description text,
    "isPublic" boolean DEFAULT false NOT NULL,
    "coverPhotoUrl" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "invitationId" text NOT NULL
);


ALTER TABLE public.photo_albums OWNER TO weduser;

--
-- Name: photos; Type: TABLE; Schema: public; Owner: weduser
--

CREATE TABLE public.photos (
    id text NOT NULL,
    "originalUrl" text NOT NULL,
    "compressedUrl" text,
    "thumbnailUrl" text,
    filename text NOT NULL,
    size integer NOT NULL,
    width integer,
    height integer,
    "mimeType" text NOT NULL,
    status public."PhotoStatus" DEFAULT 'PENDING'::public."PhotoStatus" NOT NULL,
    caption text,
    "uploadedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "approvedAt" timestamp(3) without time zone,
    "publishedAt" timestamp(3) without time zone,
    "albumId" text NOT NULL,
    "uploadedById" text
);


ALTER TABLE public.photos OWNER TO weduser;

--
-- Name: provider_profiles; Type: TABLE; Schema: public; Owner: weduser
--

CREATE TABLE public.provider_profiles (
    id text NOT NULL,
    "userId" text NOT NULL,
    "businessName" text NOT NULL,
    description text NOT NULL,
    phone text NOT NULL,
    status public."ProviderStatus" DEFAULT 'APPROVED'::public."ProviderStatus" NOT NULL,
    "verifiedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "profilePhoto" text,
    portfolio text[],
    rating double precision DEFAULT 0 NOT NULL,
    "reviewCount" integer DEFAULT 0 NOT NULL,
    "bookingCount" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "categoryId" text NOT NULL,
    "commissionRate" double precision DEFAULT 0.15 NOT NULL,
    "displayCity" text NOT NULL,
    latitude double precision NOT NULL,
    longitude double precision NOT NULL,
    "serviceRadius" integer DEFAULT 25 NOT NULL,
    "stripeAccountId" text,
    "stripeOnboarded" boolean DEFAULT false NOT NULL,
    "totalEarnings" double precision DEFAULT 0 NOT NULL
);


ALTER TABLE public.provider_profiles OWNER TO weduser;

--
-- Name: purchase_history; Type: TABLE; Schema: public; Owner: weduser
--

CREATE TABLE public.purchase_history (
    id text NOT NULL,
    "userId" text NOT NULL,
    tier public."ServiceTier" NOT NULL,
    quantity integer DEFAULT 1 NOT NULL,
    price double precision NOT NULL,
    currency text DEFAULT 'EUR'::text NOT NULL,
    "stripePaymentId" text,
    "purchasedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.purchase_history OWNER TO weduser;

--
-- Name: push_subscriptions; Type: TABLE; Schema: public; Owner: weduser
--

CREATE TABLE public.push_subscriptions (
    id text NOT NULL,
    "userId" text NOT NULL,
    endpoint text NOT NULL,
    p256dh text NOT NULL,
    auth text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.push_subscriptions OWNER TO weduser;

--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: weduser
--

CREATE TABLE public.refresh_tokens (
    id text NOT NULL,
    token text NOT NULL,
    "userId" text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.refresh_tokens OWNER TO weduser;

--
-- Name: reviews; Type: TABLE; Schema: public; Owner: weduser
--

CREATE TABLE public.reviews (
    id text NOT NULL,
    "clientId" text NOT NULL,
    "providerId" text NOT NULL,
    "serviceId" text NOT NULL,
    "bookingId" text NOT NULL,
    rating integer NOT NULL,
    comment text,
    "qualityRating" integer,
    "communicationRating" integer,
    "valueRating" integer,
    "punctualityRating" integer,
    "isVerified" boolean DEFAULT false NOT NULL,
    "isPublic" boolean DEFAULT true NOT NULL,
    "moderatedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.reviews OWNER TO weduser;

--
-- Name: rsvps; Type: TABLE; Schema: public; Owner: weduser
--

CREATE TABLE public.rsvps (
    id text NOT NULL,
    status public."RSVPStatus" DEFAULT 'PENDING'::public."RSVPStatus" NOT NULL,
    message text,
    "numberOfGuests" integer DEFAULT 1 NOT NULL,
    "respondedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "invitationId" text NOT NULL,
    "guestId" text NOT NULL,
    "profilePhotoUrl" text
);


ALTER TABLE public.rsvps OWNER TO weduser;

--
-- Name: service_categories; Type: TABLE; Schema: public; Owner: weduser
--

CREATE TABLE public.service_categories (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    icon text,
    color text,
    "isActive" boolean DEFAULT true NOT NULL,
    "sortOrder" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.service_categories OWNER TO weduser;

--
-- Name: service_purchases; Type: TABLE; Schema: public; Owner: weduser
--

CREATE TABLE public.service_purchases (
    id text NOT NULL,
    "userId" text NOT NULL,
    tier public."ServiceTier" NOT NULL,
    status public."PurchaseStatus" DEFAULT 'ACTIVE'::public."PurchaseStatus" NOT NULL,
    "stripePaymentId" text,
    "stripePriceId" text,
    "stripeCustomerId" text,
    quantity integer DEFAULT 1 NOT NULL,
    "purchasedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.service_purchases OWNER TO weduser;

--
-- Name: services; Type: TABLE; Schema: public; Owner: weduser
--

CREATE TABLE public.services (
    id text NOT NULL,
    "providerId" text NOT NULL,
    "categoryId" text NOT NULL,
    name text NOT NULL,
    description text NOT NULL,
    "shortDescription" text,
    price double precision NOT NULL,
    "priceType" text NOT NULL,
    currency text DEFAULT 'EUR'::text NOT NULL,
    "minPrice" double precision,
    "maxPrice" double precision,
    duration integer,
    capacity integer,
    includes text[],
    requirements text[],
    photos text[],
    videos text[],
    "isActive" boolean DEFAULT true NOT NULL,
    availability jsonb,
    rating double precision DEFAULT 0 NOT NULL,
    "reviewCount" integer DEFAULT 0 NOT NULL,
    "bookingCount" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "eventTypes" public."EventType"[]
);


ALTER TABLE public.services OWNER TO weduser;

--
-- Name: shareable_links; Type: TABLE; Schema: public; Owner: weduser
--

CREATE TABLE public.shareable_links (
    id text NOT NULL,
    token text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "maxUses" integer DEFAULT 50 NOT NULL,
    "usedCount" integer DEFAULT 0 NOT NULL,
    "expiresAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "invitationId" text NOT NULL,
    "guestId" text,
    status public."ShareableLinkStatus" DEFAULT 'SHARED'::public."ShareableLinkStatus" NOT NULL
);


ALTER TABLE public.shareable_links OWNER TO weduser;

--
-- Name: user_additional_services; Type: TABLE; Schema: public; Owner: weduser
--

CREATE TABLE public.user_additional_services (
    id text NOT NULL,
    "userId" text NOT NULL,
    "serviceId" text NOT NULL,
    quantity integer NOT NULL,
    type text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.user_additional_services OWNER TO weduser;

--
-- Name: users; Type: TABLE; Schema: public; Owner: weduser
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    "firstName" text NOT NULL,
    "lastName" text NOT NULL,
    role public."UserRole" DEFAULT 'HOST'::public."UserRole" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "emailVerified" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "stripeCustomerId" text
);


ALTER TABLE public.users OWNER TO weduser;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: weduser
--



--
-- Data for Name: bookings; Type: TABLE DATA; Schema: public; Owner: weduser
--

COPY public.bookings (id, "clientId", "providerId", "serviceId", "eventDate", "clientName", "clientPhone", "clientEmail", "guestCount", status, "totalPrice", "stripePaymentIntentId", "confirmedAt", "completedAt", "createdAt", "updatedAt", "eventTime", "eventType", message, "ourCommission", "paidAt", "providerAmount", "stripeTransferId") FROM stdin;
\.


--
-- Data for Name: conversations; Type: TABLE DATA; Schema: public; Owner: weduser
--

COPY public.conversations (id, "userId", "invitationId", "adminId", status, "lastMessageAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: designs; Type: TABLE DATA; Schema: public; Owner: weduser
--



--
-- Data for Name: email_verifications; Type: TABLE DATA; Schema: public; Owner: weduser
--



--
-- Data for Name: guests; Type: TABLE DATA; Schema: public; Owner: weduser
--



--
-- Data for Name: invitations; Type: TABLE DATA; Schema: public; Owner: weduser
--



--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: weduser
--

COPY public.messages (id, "conversationId", "senderId", content, "messageType", "isRead", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: newsletter_recipients; Type: TABLE DATA; Schema: public; Owner: weduser
--



--
-- Data for Name: newsletters; Type: TABLE DATA; Schema: public; Owner: weduser
--



--
-- Data for Name: password_resets; Type: TABLE DATA; Schema: public; Owner: weduser
--

COPY public.password_resets (id, email, token, "expiresAt", used, "createdAt", "userId") FROM stdin;
\.


--
-- Data for Name: photo_albums; Type: TABLE DATA; Schema: public; Owner: weduser
--

COPY public.photo_albums (id, title, description, "isPublic", "coverPhotoUrl", "createdAt", "updatedAt", "invitationId") FROM stdin;
cmgakv9g3000vwvcuz570amrf	ydays	photos de ydays	f	\N	2025-10-03 08:24:00.148	2025-10-03 08:24:00.148	cmfr3hmwk0006wv7njq7jzpnk
cmibvw2kh001gwv39u0s5onyk	2025	venez avec moi dans mes photos souvenir de cette ann├®es	f	\N	2025-11-23 15:39:44.513	2025-11-23 15:39:44.513	cmi9suwor001ewv3976gywl0u
\.


--
-- Data for Name: photos; Type: TABLE DATA; Schema: public; Owner: weduser
--



--
-- Data for Name: provider_profiles; Type: TABLE DATA; Schema: public; Owner: weduser
--



--
-- Data for Name: purchase_history; Type: TABLE DATA; Schema: public; Owner: weduser
--

COPY public.purchase_history (id, "userId", tier, quantity, price, currency, "stripePaymentId", "purchasedAt") FROM stdin;
\.


--
-- Data for Name: push_subscriptions; Type: TABLE DATA; Schema: public; Owner: weduser
--

COPY public.push_subscriptions (id, "userId", endpoint, p256dh, auth, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: public; Owner: weduser
--

COPY public.refresh_tokens (id, token, "userId", "expiresAt", "createdAt") FROM stdin;
\.


--
-- Data for Name: reviews; Type: TABLE DATA; Schema: public; Owner: weduser
--

COPY public.reviews (id, "clientId", "providerId", "serviceId", "bookingId", rating, comment, "qualityRating", "communicationRating", "valueRating", "punctualityRating", "isVerified", "isPublic", "moderatedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: rsvps; Type: TABLE DATA; Schema: public; Owner: weduser
--



--
-- Data for Name: service_categories; Type: TABLE DATA; Schema: public; Owner: weduser
--



--
-- Data for Name: service_purchases; Type: TABLE DATA; Schema: public; Owner: weduser
--

COPY public.service_purchases (id, "userId", tier, status, "stripePaymentId", "stripePriceId", "stripeCustomerId", quantity, "purchasedAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: services; Type: TABLE DATA; Schema: public; Owner: weduser
--



--
-- Data for Name: shareable_links; Type: TABLE DATA; Schema: public; Owner: weduser
--

COPY public.shareable_links (id, token, "isActive", "maxUses", "usedCount", "expiresAt", "createdAt", "updatedAt", "invitationId", "guestId", status) FROM stdin;
cmfr3i8dr000awv7nit65mkow	share-1758301821422-a0f6885e-c0a5-43a6-a78f-5affd2c617e5	t	30	2	\N	2025-09-19 17:10:21.423	2025-09-19 17:12:00.872	cmfr3hmwk0006wv7njq7jzpnk	\N	CONFIRMED
cmhrpjvs40033wvml8855o9ib	share-1762692414627-5faed984-e166-441a-9897-408ddc7783c8	t	30	2	\N	2025-11-09 12:46:54.628	2025-11-09 12:50:12.341	cmhrpigxn002zwvmlb45sdlsj	cmhrpo47p0035wvmlq9tj9o7j	CONFIRMED
\.


--
-- Data for Name: user_additional_services; Type: TABLE DATA; Schema: public; Owner: weduser
--

COPY public.user_additional_services (id, "userId", "serviceId", quantity, type, "createdAt") FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: weduser
--



--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: bookings bookings_pkey; Type: CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_pkey PRIMARY KEY (id);


--
-- Name: conversations conversations_pkey; Type: CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_pkey PRIMARY KEY (id);


--
-- Name: designs designs_pkey; Type: CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.designs
    ADD CONSTRAINT designs_pkey PRIMARY KEY (id);


--
-- Name: email_verifications email_verifications_pkey; Type: CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.email_verifications
    ADD CONSTRAINT email_verifications_pkey PRIMARY KEY (id);


--
-- Name: guests guests_pkey; Type: CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.guests
    ADD CONSTRAINT guests_pkey PRIMARY KEY (id);


--
-- Name: invitations invitations_pkey; Type: CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT invitations_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: newsletter_recipients newsletter_recipients_pkey; Type: CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.newsletter_recipients
    ADD CONSTRAINT newsletter_recipients_pkey PRIMARY KEY (id);


--
-- Name: newsletters newsletters_pkey; Type: CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.newsletters
    ADD CONSTRAINT newsletters_pkey PRIMARY KEY (id);


--
-- Name: password_resets password_resets_pkey; Type: CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.password_resets
    ADD CONSTRAINT password_resets_pkey PRIMARY KEY (id);


--
-- Name: photo_albums photo_albums_pkey; Type: CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.photo_albums
    ADD CONSTRAINT photo_albums_pkey PRIMARY KEY (id);


--
-- Name: photos photos_pkey; Type: CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.photos
    ADD CONSTRAINT photos_pkey PRIMARY KEY (id);


--
-- Name: provider_profiles provider_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.provider_profiles
    ADD CONSTRAINT provider_profiles_pkey PRIMARY KEY (id);


--
-- Name: purchase_history purchase_history_pkey; Type: CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.purchase_history
    ADD CONSTRAINT purchase_history_pkey PRIMARY KEY (id);


--
-- Name: push_subscriptions push_subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.push_subscriptions
    ADD CONSTRAINT push_subscriptions_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: reviews reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_pkey PRIMARY KEY (id);


--
-- Name: rsvps rsvps_pkey; Type: CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.rsvps
    ADD CONSTRAINT rsvps_pkey PRIMARY KEY (id);


--
-- Name: service_categories service_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.service_categories
    ADD CONSTRAINT service_categories_pkey PRIMARY KEY (id);


--
-- Name: service_purchases service_purchases_pkey; Type: CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.service_purchases
    ADD CONSTRAINT service_purchases_pkey PRIMARY KEY (id);


--
-- Name: services services_pkey; Type: CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT services_pkey PRIMARY KEY (id);


--
-- Name: shareable_links shareable_links_pkey; Type: CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.shareable_links
    ADD CONSTRAINT shareable_links_pkey PRIMARY KEY (id);


--
-- Name: user_additional_services user_additional_services_pkey; Type: CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.user_additional_services
    ADD CONSTRAINT user_additional_services_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: guests_invitationId_email_key; Type: INDEX; Schema: public; Owner: weduser
--

CREATE UNIQUE INDEX "guests_invitationId_email_key" ON public.guests USING btree ("invitationId", email);


--
-- Name: guests_inviteToken_key; Type: INDEX; Schema: public; Owner: weduser
--

CREATE UNIQUE INDEX "guests_inviteToken_key" ON public.guests USING btree ("inviteToken");


--
-- Name: invitations_shareableToken_key; Type: INDEX; Schema: public; Owner: weduser
--

CREATE UNIQUE INDEX "invitations_shareableToken_key" ON public.invitations USING btree ("shareableToken");


--
-- Name: newsletter_recipients_newsletterId_userId_key; Type: INDEX; Schema: public; Owner: weduser
--

CREATE UNIQUE INDEX "newsletter_recipients_newsletterId_userId_key" ON public.newsletter_recipients USING btree ("newsletterId", "userId");


--
-- Name: password_resets_token_key; Type: INDEX; Schema: public; Owner: weduser
--

CREATE UNIQUE INDEX password_resets_token_key ON public.password_resets USING btree (token);


--
-- Name: provider_profiles_userId_key; Type: INDEX; Schema: public; Owner: weduser
--

CREATE UNIQUE INDEX "provider_profiles_userId_key" ON public.provider_profiles USING btree ("userId");


--
-- Name: push_subscriptions_userId_key; Type: INDEX; Schema: public; Owner: weduser
--

CREATE UNIQUE INDEX "push_subscriptions_userId_key" ON public.push_subscriptions USING btree ("userId");


--
-- Name: refresh_tokens_token_key; Type: INDEX; Schema: public; Owner: weduser
--

CREATE UNIQUE INDEX refresh_tokens_token_key ON public.refresh_tokens USING btree (token);


--
-- Name: rsvps_guestId_key; Type: INDEX; Schema: public; Owner: weduser
--

CREATE UNIQUE INDEX "rsvps_guestId_key" ON public.rsvps USING btree ("guestId");


--
-- Name: service_categories_name_key; Type: INDEX; Schema: public; Owner: weduser
--

CREATE UNIQUE INDEX service_categories_name_key ON public.service_categories USING btree (name);


--
-- Name: service_purchases_stripePaymentId_key; Type: INDEX; Schema: public; Owner: weduser
--

CREATE UNIQUE INDEX "service_purchases_stripePaymentId_key" ON public.service_purchases USING btree ("stripePaymentId");


--
-- Name: shareable_links_guestId_key; Type: INDEX; Schema: public; Owner: weduser
--

CREATE UNIQUE INDEX "shareable_links_guestId_key" ON public.shareable_links USING btree ("guestId");


--
-- Name: shareable_links_token_key; Type: INDEX; Schema: public; Owner: weduser
--

CREATE UNIQUE INDEX shareable_links_token_key ON public.shareable_links USING btree (token);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: weduser
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: bookings bookings_clientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT "bookings_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: bookings bookings_providerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT "bookings_providerId_fkey" FOREIGN KEY ("providerId") REFERENCES public.provider_profiles(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: bookings bookings_serviceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT "bookings_serviceId_fkey" FOREIGN KEY ("serviceId") REFERENCES public.services(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: conversations conversations_adminId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT "conversations_adminId_fkey" FOREIGN KEY ("adminId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: conversations conversations_invitationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT "conversations_invitationId_fkey" FOREIGN KEY ("invitationId") REFERENCES public.invitations(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: conversations conversations_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT "conversations_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: guests guests_invitationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.guests
    ADD CONSTRAINT "guests_invitationId_fkey" FOREIGN KEY ("invitationId") REFERENCES public.invitations(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: guests guests_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.guests
    ADD CONSTRAINT "guests_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: invitations invitations_designId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT "invitations_designId_fkey" FOREIGN KEY ("designId") REFERENCES public.designs(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: invitations invitations_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT "invitations_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: messages messages_conversationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT "messages_conversationId_fkey" FOREIGN KEY ("conversationId") REFERENCES public.conversations(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: messages messages_senderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT "messages_senderId_fkey" FOREIGN KEY ("senderId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: newsletter_recipients newsletter_recipients_newsletterId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.newsletter_recipients
    ADD CONSTRAINT "newsletter_recipients_newsletterId_fkey" FOREIGN KEY ("newsletterId") REFERENCES public.newsletters(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: newsletter_recipients newsletter_recipients_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.newsletter_recipients
    ADD CONSTRAINT "newsletter_recipients_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: newsletters newsletters_createdBy_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.newsletters
    ADD CONSTRAINT "newsletters_createdBy_fkey" FOREIGN KEY ("createdBy") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: password_resets password_resets_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.password_resets
    ADD CONSTRAINT "password_resets_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: photo_albums photo_albums_invitationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.photo_albums
    ADD CONSTRAINT "photo_albums_invitationId_fkey" FOREIGN KEY ("invitationId") REFERENCES public.invitations(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: photos photos_albumId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.photos
    ADD CONSTRAINT "photos_albumId_fkey" FOREIGN KEY ("albumId") REFERENCES public.photo_albums(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: photos photos_uploadedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.photos
    ADD CONSTRAINT "photos_uploadedById_fkey" FOREIGN KEY ("uploadedById") REFERENCES public.guests(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: provider_profiles provider_profiles_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.provider_profiles
    ADD CONSTRAINT "provider_profiles_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public.service_categories(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: provider_profiles provider_profiles_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.provider_profiles
    ADD CONSTRAINT "provider_profiles_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: purchase_history purchase_history_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.purchase_history
    ADD CONSTRAINT "purchase_history_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: push_subscriptions push_subscriptions_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.push_subscriptions
    ADD CONSTRAINT "push_subscriptions_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: refresh_tokens refresh_tokens_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT "refresh_tokens_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: reviews reviews_bookingId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT "reviews_bookingId_fkey" FOREIGN KEY ("bookingId") REFERENCES public.bookings(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: reviews reviews_clientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT "reviews_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: reviews reviews_providerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT "reviews_providerId_fkey" FOREIGN KEY ("providerId") REFERENCES public.provider_profiles(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: reviews reviews_serviceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT "reviews_serviceId_fkey" FOREIGN KEY ("serviceId") REFERENCES public.services(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: rsvps rsvps_guestId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.rsvps
    ADD CONSTRAINT "rsvps_guestId_fkey" FOREIGN KEY ("guestId") REFERENCES public.guests(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: rsvps rsvps_invitationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.rsvps
    ADD CONSTRAINT "rsvps_invitationId_fkey" FOREIGN KEY ("invitationId") REFERENCES public.invitations(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: service_purchases service_purchases_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.service_purchases
    ADD CONSTRAINT "service_purchases_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: services services_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT "services_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public.service_categories(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: services services_providerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT "services_providerId_fkey" FOREIGN KEY ("providerId") REFERENCES public.provider_profiles(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: shareable_links shareable_links_guestId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.shareable_links
    ADD CONSTRAINT "shareable_links_guestId_fkey" FOREIGN KEY ("guestId") REFERENCES public.guests(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: shareable_links shareable_links_invitationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.shareable_links
    ADD CONSTRAINT "shareable_links_invitationId_fkey" FOREIGN KEY ("invitationId") REFERENCES public.invitations(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_additional_services user_additional_services_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: weduser
--

ALTER TABLE ONLY public.user_additional_services
    ADD CONSTRAINT "user_additional_services_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: weduser
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

