PORT=3013
NODE_ENV=development

# Database
DATABASE_URL=""

# JWT Configuration
JWT_SECRET=
JWT_EXPIRES_IN=8h
JWT_REFRESH_EXPIRES_IN=7d

# Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
EMAIL_FROM=

# CORS Configuration
# FRONTEND_URL=https://kawepla.kaporelo.com
FRONTEND_URL=http://localhost:3012


# VAPID Keys for Push Notifications  BACKEND
VAPID_PUBLIC_KEY=""
VAPID_PRIVATE_KEY=""
VAPID_SUBJECT=""

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100

#firebase
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=

# Stripe Configuration
# Utilise Stripe Checkout (pas de Payment Links nécessaires)
STRIPE_SECRET_KEY=""

# Google Gemini AI
GEMINI_API_KEY=""