NEXT_PUBLIC_API_URL=http://localhost:3013

#NEXT_PUBLIC_API_URL=http://kapescape.kaporelo.com


#vpid keys 
VAPID_PUBLIC_KEY=


#STRIPE
#test

STRIPE_PUBLIC_KEY=


# PRODUCTION
#STRIPE_PUBLIC_KEY=

# Firebase Configuration - Kawepla Project
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

